{% extends "layout.html.twig" %}



{% block contenu %}

	<h1> Projet 2 web : site de vente Espace client </h1>

	<div class="row">
		<div class="small-7 large-7 columns">
			<table>
				<caption>les produits + liens</caption>
				<thead>
				<tr><th>nom</th><th>id</th><th>type</th><th>prix</th><th>nom photo</th><th>photo</th><th>commande</th>
					{% if   app.session.get('droit') is defined and  app.session.get('droit') == 'DROITadmin' %}
						<th>opération</th>
					{% endif %}
				</tr>
				</thead>
				<tbody>
				{% for produit in data if data is not empty %}

					<tr>
						<td>{{produit.nom}}</td><td>{{produit.id}}</td><td>{{produit.libelle}}</td><td>{{produit.prix}}</td><td>
							{{produit.photo}}</td><td>
							<img style="width:70px;height:95px" src="{{asset('images/')}}{{produit.photo}}" alt="image de {{produit.libelle}}" >
						</td>
						<td>
							<a href="#"><img src=""></a>
						</td>
					</tr>
					
				{% endfor %}
				<tbody>
			</table>
		</div>
		<div class="small-5 large-5 columns">
			le panier +liens
		</div>

	</div>

{% endblock %}







